p {
    color: black;
}

h1 {
    color: black;
}

title {
    color: black;
}
header {
    color: black;
}

nav {
    display: flex;
    flex-wrap: wrap;
      }
nav a {
        text-decoration: none;
        display: block;
        padding: 15px 25px;
        text-align: center;
        background-color: rgb(150, 125, 190);
        color: black;
        margin: 0;
        font-family: Helvetica;
      }
      nav a:hover {
        background-color: #777777;
        color: #ffffff;
      }
