p {
    color: black;
}

h1 {
    color: black;
}

title {
    color: black;
}
header {
    color: black;
}

li {
  
}

nav {
    display: flex;
    flex-wrap: wrap;
      }
.navigationtop {
        text-decoration: none;
        display: block;
        padding: 15px 25px;
        text-align: center;
        background-color: #24252A;
        color: black;
        margin: 0;
        font-family: Helvetica;
      }
      nav a:hover {
        background-color: white;
        color: green;
      }
